In [41]:
import pandas as pd

In [22]:
data = pd.read_excel('D:\\Data-science\\Online_retail.xlsx',sheet_name='Sheet1',names=['Product'],header=None)

In [23]:
data

                                                                                                                                                                                                                              Product
0     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1                                                                                                                                                                                                              burgers,meatballs,eggs
2                                                                                                                                                                                                                             chutney
3                                                                                                                                                                                                                      turkey,avocado
4                                                                                                                                                                            mineral water,milk,energy bar,whole wheat rice,green tea
...                                                                                                                                                                                                                               ...
7496                                                                                                                                                                                                    butter,light mayo,fresh bread
7497                                                                                                                                                                  burgers,frozen vegetables,eggs,french fries,magazines,green tea
7498                                                                                                                                                                                                                          chicken
7499                                                                                                                                                                                                               escalope,green tea
7500                                                                                                                                                                                  eggs,frozen smoothie,yogurt cake,low fat yogurt

[7501 rows x 1 columns]

In [24]:
new_data = []
columns = set()
columns_list = []
for index, row in data.iterrows():
    row_1 = row.iloc[0].strip().split(",")
    columns = columns.union(row_1)
    new_data.append(row_1) 
len(sorted(columns))

119

In [25]:
df = pd.DataFrame(0, index=range(len(new_data)), columns=sorted(columns))
for idx, row in enumerate(new_data):
    for food in row:
        if food in df.columns:
            df.at[idx, food] = 1

In [26]:
df

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [27]:
from mlxtend.frequent_patterns import apriori, association_rules

In [38]:
frequent_itemsets = apriori(df, min_support=0.02, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift",min_threshold=0.1)

rules = rules[(rules['support'] >= 0.02) & (rules['confidence'] >= 0.4) & (rules['lift'] >= 1.5)]

print(frequent_itemsets)

C:\Users\naveen.julla\AppData\Local\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                           itemsets
0    0.020397                          (almonds)
1    0.033329                          (avocado)
2    0.033729                         (brownies)
3    0.087188                          (burgers)
4    0.030129                           (butter)
..        ...                                ...
98   0.020131  (mineral water, whole wheat rice)
99   0.022930             (spaghetti, olive oil)
100  0.025197              (spaghetti, pancakes)
101  0.021197                (spaghetti, shrimp)
102  0.020931              (spaghetti, tomatoes)

[103 rows x 2 columns]

In [39]:
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

      antecedents      consequents   support  confidence      lift
68  (ground beef)  (mineral water)  0.040928    0.416554  1.747522
78    (olive oil)  (mineral water)  0.027596    0.419028  1.757904
84         (soup)  (mineral water)  0.023064    0.456464  1.914955


Rule: {ground beef,olive oil,soup} -->{mineral water}
<br/>Support: 0.02 (2% of all transactions contain these items)
<br/>Confidence: 0.4 (40% of the time the antecedent occurs, the consequent also occurs)
<br/>Lift: 1.5 (The rule is 1.5Ã— more likely than by random chance)

#### What is Lift in Association Rule Mining?
Lift is a metric used to evaluate the strength of an association rule by comparing the observed frequency of items occurring together to what would be expected if the items were statistically independent.
<br/> Formula : Lift(A->B) = p(A and B) / P(A) * P(B) = Confidence(A -> B) / Support(B)
<br/> If lift value is =1 then, A and B are independent (no association)
<br/> If lift value is >1 then, Positive correlation â€” A and B occur together more than expected
<br/> If lift value is <1 then, Negative correlation â€” A and B occur together less than expected

#### What is support and Confidence. How do you calculate them?
<b>Support: </b> Support is the proportion of transactions that contain a specific itemset.
<br/> Formula:
<br/> Support(A -> B) = Number of Transcation contain both A and B / Total number of transactions
<br/><br/><b>Confidence: </b> Confidence is the probability that B is given that A.
<br/> Formula:
<br/> Confidence( A -> B) = Support( A and B) / Support(A)

#### What are some limitations or challenges of Association rules mining?
<br/> Too Many Rules
<br/> Ignores Order or Timing
<br/> Rare Item Problem
<br/> Scalability and Performance
<br/> Redundant or Conflicting Rules