In [135]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [175]:
data = pd.read_excel('D:\\Data-science\\Online_retail.xlsx',sheet_name='Sheet1',names=['Product'],header=None)

In [176]:
data

                                                                                                                                                                                                                              Product
0     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1                                                                                                                                                                                                              burgers,meatballs,eggs
2                                                                                                                                                                                                                             chutney
3                                                                                                                                                                                                                      turkey,avocado
4                                                                                                                                                                            mineral water,milk,energy bar,whole wheat rice,green tea
...                                                                                                                                                                                                                               ...
7496                                                                                                                                                                                                    butter,light mayo,fresh bread
7497                                                                                                                                                                  burgers,frozen vegetables,eggs,french fries,magazines,green tea
7498                                                                                                                                                                                                                          chicken
7499                                                                                                                                                                                                               escalope,green tea
7500                                                                                                                                                                                  eggs,frozen smoothie,yogurt cake,low fat yogurt

[7501 rows x 1 columns]

In [164]:
new_data = []
columns = set()
columns_list = []
for index, row in data.iterrows():
    row_1 = row.iloc[0].strip().split(",")
    columns = columns.union(row_1)
    new_data.append(row_1) 
len(sorted(columns))

119

In [165]:
df = pd.DataFrame(0, index=range(len(new_data)), columns=sorted(columns))
for idx, row in enumerate(new_data):
    for food in row:
        if food in df.columns:
            df.at[idx, food] = 1

In [166]:
df.values

array([[1, 1, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0]])

In [167]:
from mlxtend.frequent_patterns import apriori, association_rules

In [169]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence",min_threshold=0.1)
print(frequent_itemsets)
print(rules)

    support         itemsets
0  0.163845      (chocolate)
1  0.179709           (eggs)
2  0.170911   (french fries)
3  0.132116      (green tea)
4  0.129583           (milk)
5  0.238368  (mineral water)
6  0.174110      (spaghetti)
Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

C:\Users\naveen.julla\AppData\Local\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(